
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.sedan-sc-regular {
    font-family: "Sedan SC",serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
*{

    padding:0;
    margin:0;
    box-sizing: border-box;
    
    
}
main{
    color:rgb(255, 251, 0);
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 3.5rem;
   
}
body{
    background-color: black;
 
}

header{
   
    background-color: black;
    padding:1rem;
    text-align: center;
    font-size: 25px;
   
}
header a{
 
    color:rgb(255, 251, 0);
   padding:7rem;
   text-decoration: none;
}

.top-section img{
    width: 100%;
    height: 70rem;   
}

.top-section{
    text-align: center;
    position: relative;
}
.top-section-text{
    position:absolute;
    top:40%;
    left: 50%; 
    transform: translate(-50%,-50%);
    font-family:'Sedan SC',serif;
    font-size: 8rem;
    line-height: 15rem;
    text-shadow: 5px 5px black;
}

.yearly_Climate img{
    max-width: 100%;
    width:100%;
    height: 20rem;
}
.yearly_Climate{
    text-align: center;
    max-width: 100%;
}

.yearly-img-text{
    position:absolute;
    top:75rem;
    left:35%;
    transform: translate(-8%,20%);
    font-size: 5rem;
    font-family:'Sedan SC',serif;
    line-height: 6rem;
    text-shadow: 3px 5px black;
}
.yearly-info .flood-img{
    
    position:absolute;
    width:30%;
    height: 42rem;
}
.yearly-info .yearly-text-info{
position: relative;
text-align: center;
float:right;
width:38%;

}

.yearly-info .drought-img{
    float:right;
    width:30%;
    height:42rem;
}


.yearly-info2 .two-children-image{
   float:left;
    width:45%;
    height:30rem;
}
.yearly-info2-text{
   
   width:50%;
float:right;
height:40%;
margin:1.5rem;

 }
 
 .tech-info img{
   width:100%;
   height:15rem; 
 }


 .tech-text{
   text-align: center;
    top:-12rem;
   
   position:relative; 
    font-size: 5rem; 
    font-family:'Sedan SC',serif;
    line-height: 6rem;
    text-shadow: 3px 5px black;
 }

 .tech-info-text{
   margin-bottom:3rem;
    text-align: center;
    padding:3rem;


  
 }
 footer{
   
    background-color: rgb(255, 251, 0);
    color:black;
    padding:0.7rem;
    text-align: center;
    font-size: 22px;
 }
 

